<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097503261208-58kpoaatjpv40gfqnruggqoegsm2l0ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097503261208-58kpoaatjpv40gfqnruggqoegsm2l0ec</string>
	<key>API_KEY</key>
	<string>AIzaSyAKxCGjKmtdTlkekLZvjoqykCy3m4Z_ruI</string>
	<key>GCM_SENDER_ID</key>
	<string>1097503261208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perudot.IndianPoker</string>
	<key>PROJECT_ID</key>
	<string>indian-poker-f40ad</string>
	<key>STORAGE_BUCKET</key>
	<string>indian-poker-f40ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097503261208:ios:02394f88fb54c83f</string>
	<key>DATABASE_URL</key>
	<string>https://indian-poker-f40ad.firebaseio.com</string>
</dict>
</plist>